USE [master]
GO
/****** Object:  Database [WarehouseMaterials]    Script Date: 25.05.2025 20:59:32 ******/
CREATE DATABASE [WarehouseMaterials]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseMaterials', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseMaterials.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseMaterials_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WarehouseMaterials_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseMaterials].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseMaterials]
GO
/****** Object:  Table [dbo].[MaterialProducts]    Script Date: 25.05.2025 20:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuantityRequired] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 25.05.2025 20:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](255) NOT NULL,
	[MaterialTypeID] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[QuantityInStock] [decimal](10, 2) NULL,
	[MinimumQuantity] [decimal](10, 2) NULL,
	[PackageQuantity] [decimal](10, 2) NULL,
	[UnitID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialTypes]    Script Date: 25.05.2025 20:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[MaterialTypeID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialTypeName] [nvarchar](100) NOT NULL,
	[LossPercent] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 25.05.2025 20:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductTypeID] [int] NOT NULL,
	[Article] [nvarchar](20) NULL,
	[PartnerPrice] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTypes]    Script Date: 25.05.2025 20:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTypes](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeName] [nvarchar](100) NOT NULL,
	[TypeCoefficient] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 25.05.2025 20:59:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MaterialProducts] ON 

INSERT [dbo].[MaterialProducts] ([ID], [MaterialID], [ProductID], [QuantityRequired]) VALUES (2, 4, 1, CAST(0.85 AS Decimal(10, 2)))
INSERT [dbo].[MaterialProducts] ([ID], [MaterialID], [ProductID], [QuantityRequired]) VALUES (3, 10, 1, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[MaterialProducts] ([ID], [MaterialID], [ProductID], [QuantityRequired]) VALUES (4, 11, 1, CAST(1.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[MaterialProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [MaterialTypeID], [UnitPrice], [QuantityInStock], [MinimumQuantity], [PackageQuantity], [UnitID]) VALUES (1, N'Цельный массив дерева Дуб 1000х600 мм', 1, CAST(7450.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), CAST(7.20 AS Decimal(10, 2)), 1)
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [MaterialTypeID], [UnitPrice], [QuantityInStock], [MinimumQuantity], [PackageQuantity], [UnitID]) VALUES (2, N'Клееный массив дерева Дуб 1000х600 мм', 1, CAST(4520.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)), CAST(7.20 AS Decimal(10, 2)), 1)
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [MaterialTypeID], [UnitPrice], [QuantityInStock], [MinimumQuantity], [PackageQuantity], [UnitID]) VALUES (3, N'Шпон облицовочный Дуб натуральный 2750х480 мм', 1, CAST(2500.00 AS Decimal(10, 2)), CAST(2000.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(19.80 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialTypes] ON 

INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialTypeName], [LossPercent]) VALUES (1, N'Дерево', CAST(0.55 AS Decimal(5, 2)))
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialTypeName], [LossPercent]) VALUES (2, N'Древесная плита', CAST(0.30 AS Decimal(5, 2)))
INSERT [dbo].[MaterialTypes] ([MaterialTypeID], [MaterialTypeName], [LossPercent]) VALUES (3, N'Текстиль', CAST(0.15 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[MaterialTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductTypeID], [Article], [PartnerPrice]) VALUES (1, N'Кресло детское цвет Белый и Розовый', 1, N'3028272', CAST(15324.99 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductTypeID], [Article], [PartnerPrice]) VALUES (2, N'Кресло офисное цвет Черный', 1, N'3018556', CAST(21443.99 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductTypeID], [Article], [PartnerPrice]) VALUES (3, N'Кресло эргономичное цвет Темно-коричневый', 1, N'3549922', CAST(24760.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductTypes] ON 

INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductTypeName], [TypeCoefficient]) VALUES (1, N'Кресла', CAST(1.95 AS Decimal(10, 2)))
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductTypeName], [TypeCoefficient]) VALUES (2, N'Полки', CAST(2.50 AS Decimal(10, 2)))
INSERT [dbo].[ProductTypes] ([ProductTypeID], [ProductTypeName], [TypeCoefficient]) VALUES (3, N'Стеллажи', CAST(4.35 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ProductTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitID], [UnitName]) VALUES (1, N'м2')
INSERT [dbo].[Units] ([UnitID], [UnitName]) VALUES (2, N'пог.м')
INSERT [dbo].[Units] ([UnitID], [UnitName]) VALUES (3, N'шт')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
ALTER TABLE [dbo].[MaterialProducts]  WITH CHECK ADD FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[MaterialProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([MaterialTypeID])
REFERENCES [dbo].[MaterialTypes] ([MaterialTypeID])
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD FOREIGN KEY([UnitID])
REFERENCES [dbo].[Units] ([UnitID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductTypes] ([ProductTypeID])
GO
USE [master]
GO
